<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <script src="http://swfobject.googlecode.com/svn/tags/rc3/swfobject/src/swfobject.js" type="text/javascript" charset="utf-8"></script>
  <%= js_include_tag 'jquery-1.2.6' %>
  <title>Pipeline</title>
  
  <style type="text/css" media="screen">
  *{
    padding: 0;
    margin: 0;
    font-family: arial;
  }

  body{
    background: white;
    color: black;
    padding-top: 120px;
  }

  a img{
    border: 0;
  }
  
  a{
    text-decoration: none;
    color: black;
  }

  #console{
    width: 100%;
    height: 103px;
    background-color: #000;
    opacity: 0.85;
    z-index: 100;
    position: absolute;
    top: 0px;
    padding: 5px 0 5px 0;
    overflow: auto;
    border-bottom: 1px solid #111;
    color: white;
    font-size: 4em;
    font-weight: bold;
  }

  #console form{
    padding-top: 10px;
    margin: 0 auto;
    width: 1200px;
  }
  
  #failure{
    padding-top: 10px;
  }
  
  #success{
    padding-top: 10px;
  }
  
  #console label{
    padding-right: 10px;
  }
  
  #console input{
    border: 0;
    background: #0a0a0a;
    color: white;
    font-size: 1em;
    width: 800px;
  }

  .console_line, .console_line_last{
    display: block;
    padding-left: 5px;
    font-family: "Monaco", monospace;
    font-size: 10px;
    color: white;
  }

  .console_line_last{
    margin-bottom: 5px;
    border-right: 6px solid #333;
    display: inline;
    padding-right: 5px;
  }
  
  #plus{
    background: #191919;
    height: 100px;
    width: 100px;
  }

  #video_wrapper{
    width: 420px;
    height: 320px;
    margin: 0 auto;
  }

  .thumbnail{
    float: left;
  }
  
  #playlist{
    width: 900px;
    margin: 0 auto;
    margin-top: 50px;
  }

  </style>
  
  <script type="text/javascript" charset="utf-8">
    
    setInterval(function() {
         $('#playlist').load("<%= url(:controller => 'videos', :action => 'playlist')%>");
    }, 30000);
    
    function post_video(){
      console = $('#console');
      // Get url inputed.
      yt_url = $('#yt_url');
      // POST the url.
      $.post("<%=  url(:controller => 'videos') %>", { url: yt_url.val() }, function(response){
        // Hide console.
        console.animate({ 
          top: -100,
          opacity: 0
          }, 500 );
        // Clear input and hide form.
        console.queue( function(){
          yt_url.attr( 'value', '');
          $('#video_form').css('display', 'none');
          $(this).dequeue();
        });
        
        if(response == "true"){
          // Background to chartreuse, message to 'success'
          console.queue( function(){
            $(this).css('background-color', '#BEEC4C');
            $('#success').show();
            $('#playlist').load("<%= url(:controller => 'videos', :action => 'playlist')%>");
            $(this).dequeue();
          });
        }
        else{
          // Background to red, message to 'failure'
          console.queue( function(){
            $(this).css('background-color', '#C03926');
            $('#failure').html(response);
            $('#failure').show();
            $(this).dequeue();
            });
        };
        
        // Show console.
        console.animate({ 
          top: 0,
          opacity: 0.85
          }, 500 );

        setTimeout( function(){
        
          // Hide console.
          console.animate({ 
            top: -100,
            opacity: 0
            }, 500 );
        
          console.queue( function(){
            $(this).css('background-color', 'black');
            $('#video_form').css('display', 'block');
            $('#failure').css('display', 'none');
            $('#success').css('display', 'none');
            $(this).dequeue();
          });
        
          // Show console.
          console.animate({ 
            top: 0,
            opacity: 0.85
            }, 500 );
        }, 5000);
      }, 'text');
 
    };
    
  </script>
</head>

<body>

  <div id="console">
    <div id='success' style='margin: 0 auto; width: 100%; text-align: center; display: none;'>video added</div>
    <div id='failure' style='margin: 0 auto; width: 100%; text-align: center; display: none;'></div>
    <form id='video_form' style='margin: 0 auto; width: 1180px;' action="javascript:post_video();">
      <label>youtube url </label><input id='yt_url' type='text' value='' />
    </form>
  </div>

  <div id="video_wrapper">
    <div style='background: url(<%= asset_path(:image, 'frame_horizontal_top') %>) repeat-x top left; width: 100%; height: 100%; position: relative;'>
      <div style='background: url(<%= asset_path(:image, 'frame_horizontal_bottom.png') %>) repeat-x bottom left; width: 100%; height: 100%; position: relative;'>
        <div style='background: url(<%= asset_path(:image, 'frame_vertical.png') %>) repeat-y top left; width: 100%; height: 100%; position: relative;'>
          <div style='background: url(<%= asset_path(:image, 'frame_vertical.png') %>) repeat-y top right; width: 100%; height: 100%; position: relative;'>
            <div style='position: relative; width: 100%; height: 100%;'>
              <span style='background: url(<%= asset_path(:image, 'corner_top_left.png') %>) no-repeat; position: absolute; width: 22px; height: 22px; top: 0; left: 0;'></span>
              <span style='background: url(<%= asset_path(:image, 'corner_top_right.png') %>) no-repeat; position: absolute; width: 22px; height: 22px; top: 0; right: 0;'></span>
              <span style='background: url(<%= asset_path(:image, 'corner_bottom_left.png') %>) no-repeat; position: absolute; width: 22px; height: 22px; bottom: 0; left: 0;'></span>
              <span style='background: url(<%= asset_path(:image, 'corner_bottom_right.png') %>) no-repeat; position: absolute; width: 22px; height: 22px; bottom: 0; right: 0;'></span>
              <div style='height: 100%; width: 100%; padding: 10px'>
              <div id='video'>
                You need Flash player 8+ and JavaScript enabled to view this video.
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id='playlist'>

  <%= partial :playlist %>
  
  </div>

  <script type="text/javascript">
  // <![CDATA[

  // allowScriptAccess must be set to allow the Javascript from one 
  // domain to access the swf on the youtube domain
  var params = { allowScriptAccess: "always", bgcolor: "#cccccc", rel: "0", autoplay: "1", wmode: "transparent" };
  // this sets the id of the object or embed tag to 'myytplayer'.
  // You then use this id to access the swf and make calls to the player's API
  var atts = { id: "video_player" };
  swfobject.embedSWF("http://www.youtube.com/apiplayer?enablejsapi=1&playerapiid=ytplayer", 
  "video", "400", "300", "8", null, null, params, atts);
  //]]>
  </script>

  <%= catch_content :for_layout %>

</body>
</html>
