<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <script src="http://swfobject.googlecode.com/svn/tags/rc3/swfobject/src/swfobject.js" type="text/javascript" charset="utf-8"></script>
  <%= js_include_tag  'jquery-1.2.6'  %>
  <%= js_include_tag  'videos'        %>
  <%= js_include_tag  'jheartbeat.js' %>

  <%= css_include_tag 'videos' %>
  <title>Pipeline</title>
</head>
<body onload="onLoad(new JSVideo('<%= @video.title %>','<%= @video.video_id %>','<%= @video.id %>') );">

  <div id="console">
    <div  id='console_message' style='margin: 0 auto; width: 100%; text-align: center; display: none;'></div>
    <form id='video_form' style='margin: 0 auto; width: 1180px;' action="javascript:post_video();">
      <label>youtube url </label><input id='yt_url' type='text' value='' />
    </form>
  </div>

  <div id="video_wrapper">
	<%= video_frame_around "<div id='video'>
                              You need Flash player 8+ and JavaScript enabled to view this video.
                            </div>"
	%>
  </div>

  <div id='playlist'>  
	<!-- populated by onPlaylistHandle from ajax calls -->
  </div>

  <script type="text/javascript">
  // <![CDATA[

  // allowScriptAccess must be set to allow the Javascript from one 
  // domain to access the swf on the youtube domain
  var params = { allowScriptAccess: "always", bgcolor: "#cccccc", rel: "0", autoplay: "1", wmode: "transparent" };
  // this sets the id of the object or embed tag to 'myytplayer'.
  // You then use this id to access the swf and make calls to the player's API
  var atts = { id: "video_player" };
  swfobject.embedSWF("http://www.youtube.com/apiplayer?enablejsapi=1&playerapiid=ytplayer", 
  "video", "400", "300", "8", null, null, params, atts);
  //]]>
  </script>

  <%= catch_content :for_layout %>
</body>
</html>
